---
# if you want to use socket, set this to true
# socket will be /tmp/apivault.sock
unixsocket: false
db:
  adapter: mysql
  host: localhost
  port: 3306
  name: api-gateway
  user: devel
  password: yourpassword
# API Gateway JWT Secret (not microservice!)
jwt:
  secret: abc123
  ttl: 72
# Database user username/email and password column mapping
# set what is your table name, login column (example: "email" or "username")
table:
  name: users
  column:
    login: email
# For unprotected endpoints which is public, example: OTP/SMS endpoints which is unprotected
# This adds another layer of verification for legitimate clients and prevent OTP DoS attacks
# This is optional and disabled by default
verification:
  enabled: false
  shared_key: your_shared_key_keep_it_safe
