---
# if you want to use socket, set this to true
# socket will be /tmp/apivault.sock
unixsocket: false
fortify: false
db:
  adapter: mysql
  host: localhost
  port: 3306
  name: api-gateway
  user: devel
  password: yourpassword
# API Gateway JWT Secret (not microservice!)
secret:
  key: abc123
