---
# Microservice Specific!
# Example:
# I have a website, customer facing running as api.microservice1.domain1.com -
# Do include port number if necessary like: api.microservice1.domain1.com:8080
server:
  - name: apivault_main_host
    source_host: api.apivault.domain1.com
    secret: your-microservice-generated-secret-keep-this-secure!
    mapping:
      - target_url: http://internal.customers.backendprotectedapi.microservice1.domain.com
        source_endpoint: /api/v1/customers
        destination_endpoint: /customers
      - target_url: http://internal.accounts.backendprotectedapi.microservice1.domain.com
        source_endpoint: /api/v1/customers
        destination_endpoint: /accounts
      - target_url: http://internal.orders.backendprotectedapi.microservice1.domain.com
        source_endpoint: /api/v1/orders
        destination_endpoint: /orders
      - target_url: http://internal.otp.domain.com
        source_endpoint: /request/otp
        destination_endpoint: /api/auth/otp
        protect: true # this will force client to pass "X-Authenticity: " header, else reject, useful for unauthenticated endpoint
  - name: apivault_dev_host
    source_host: api.dev.apivault.domain1.com
    secret: your-microservice-generated-secret-keep-this-secure!
    mapping:
      - target_url: http://internal.orders.backendprotectedapi.microservice2.domain.com
        source_endpoint: /api/v1/orders
        destination_endpoint: /orders
