---
# Microservice Specific!
# Example:
# I have a website, customer facing running as api.microservice1.domain1.com -
# Do include port number if necessary like: api.microservice1.domain1.com:8080
server:
  - name: first_microservice
    host: api.microservice1.domain1.com
    url_endpoint: https://backendprotectedapi.microservice1.domain.com
    secret: your-microservice-generated-secret-keep-this-secure!
  - name: second_microservice
    host: api.microservice2.domain.com
    url_endpoint: https://backendprotectedapi.microservice2.domain.com
    secret: your-microservice-generated-secret-keep-this-secure!
